<%= turbo_stream_from order %>
<div id=<%= dom_id(order) %>>
  <td class="p-4 text-base font-bold text-gray-900 whitespace-nowrap dark:text-white">
    <%= order.order_id %>
  </td>
  <td class="p-4 text-base font-bold text-gray-900 whitespace-nowrap dark:text-white">
    <%= number_to_currency(order.amount) %>
  </td>
  <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-gray-400">
    <%= order.status %>
  </td>
  <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-gray-400">
    <%= order.user.username %>
  </td>
  <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-gray-400">
    <%= order.ordered_at.strftime("%B %d, %Y ") %>
  </td>
</div>
